<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakout</title>
    <link rel="stylesheet" href="styles/interface.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        h1,h2,h3,h4,h5,h6,p{
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
    <div id="black" class="header">
        <h1>BREAKOUT</h1>
    </div>
    <div id="fuchsia" class="header">
        <h2>El clásico de Atari</h2>
    </div>
    <div id="red" class="header"></div>
    <div id="orange" class="header"></div>
    <div id="yellow" class="header"></div>
    <div id="green" class="header"></div>
    <div id="purple" class="header"></div>

    <div class="line_purple">
        <div class="rectangle_purple"></div>
        <div class="rectangle_purple"></div>
        <div class="rectangle_purple"></div>
        <div class="rectangle_purple"></div>
        <div class="rectangle_purple"></div>
    </div>

    <div class="line_blue">
        <div class="rectangle_blue"></div>
        <div class="rectangle_blue"></div>
        <div class="rectangle_blue"></div>
        <div class="rectangle_blue"></div>
        <div class="rectangle_blue"></div>
    </div>

    <div class="line_green">
        <div class="rectangle_green"></div>
        <div class="rectangle_green"></div>
        <div class="rectangle_green"></div>
        <div class="rectangle_green"></div>
    </div>

    <div class="line_yellow">
        <button class="rectangle_yellow">ACERCA DE</button>
        <button class="rectangle_yellow">JUGAR</button>
    </div>

    <div class="paleta"></div>

    <footer>
        <div id="copyright">
            <p>@2023</p>
        </div>
        <img id="logo" src="styles/images/atari_logo.png">
    </footer>
</body>
</html>