<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakout</title>
    <link rel="stylesheet" href="styles/interface.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        h1,h2,h3,h4,h5,h6{
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
    <div id="black" class="header">
        <h1>BREAKOUT</h1>
    </div>
    <div id="fuchsia" class="header">
        <h2>El clásico de Atari</h2>
    </div>
    <div id="red" class="header"></div>
    <div id="orange" class="header"></div>
    <div id="yellow" class="header"></div>
    <div id="green" class="header"></div>
    <div id="purple" class="header"></div>
    <footer>
        <p>@2023</p>
        <img id="logo" src="styles/images/atari_logo.png">
    </footer>
</body>
</html>