<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakout</title>
    <link rel="stylesheet" href="styles/interface.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        h1,h2,h3,h4,h5,h6{
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
    <div class="black">
        <h1>BREAKOUT</h1>
        <img id="logo" src="styles/images/atari_logo.png">
    </div>
    <div class="fuchsia">
        <h2>El clásico de Atari</h2>
    </div>
    <div class="red"></div>
    <div class="orange"></div>
    <div class="yellow"></div>
    <div class="green"></div>
    <div class="purple"></div>
</body>
</html>