html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    max-height: 1080px;
    max-width: 1920px;
    background: #383737;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}
footer{
    background-color: #000000;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer p{
    color: #ffffff;
}
#black{
    background-color: #000000;
    height: 13%;
    margin-top: 0px;
}
#black h1{
    color: #ffffff;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 2em;
}
#black p{
    color: #ffffff;
}
#fuchsia{
    background-color: #9A1B9C;
    height: 3.7%;
}
#fuchsia h2{
    color: #ffffff;
    text-align: center;
    margin: 0;
    flex: 1;
    font-size: 1em;
}
#red{
    background-color: #B41C1C;
    height: 3.2%;
}
#orange{
    background-color: #DC972F;
    height: 2.6%;
}
#yellow{
    background-color: #F1E041;
    height: 1.8%;
}
#green{
    background-color: #6FF141;
    height: 1.4%;
}
#purple{
    background-color: #7D53F5;
    height: 0.8%;
}
#logo{
    margin-left:auto;
    width: auto;
    height: 100%;
    top: 0px;
}
#copyright{
    padding: 1em;
}
